<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Alex Buchyn Blog{% endblock %}</title>

    {% block stylesheets %}

        {#styles#}
        <link href="{{ asset('bundles/abuchynalex/css/tether.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/abuchynalex/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/abuchynalex/css/font-awesome.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/abuchynalex/css/main.css') }}" rel="stylesheet" />

        {#fonts#}
        <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">

    {% endblock %}

    {% block javascripts %}

        <script src="{{ asset('bundles/abuchynalex/js/jquery-3.2.1.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/abuchynalex/js/tether.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/abuchynalex/js/bootstrap.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/abuchynalex/js/clean-blog.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/abuchynalex/js/main.js') }}" type="text/javascript"></script>

    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>

    {% block header %}{% endblock %}

    <!-- Body -->
    <div class="container">
        <div class="row">
            {% block body %}{% endblock %}
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                {% block footer %}{% endblock %}
            </div>
        </div>
    </footer>

</body>
</html>